* {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  font-family: "Noto Sans", "Noto Sans SC", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

.flex,
.flexc,
.flex-column,
.flexb,
.flext,
.flex-column.sb {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-column.sb {
  justify-content: space-between;
}

.flexc {
  justify-content: center;
}

.flext {
  justify-content: flex-start;
  align-items: flex-start;
}

.flexb {
  justify-content: space-between;
}

.flexstart {
  align-items: flex-start !important;
}

.flexr {
  align-items: flex-end !important;
}

.flexe {
  justify-content: flex-end !important;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-items: start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-jus-between {
  justify-content: space-between;
}
.flex-jus-center {
  justify-content: center;
}
.flex-jus-around {
  justify-content: space-around;
}
.flex-jus-end {
  justify-content: flex-end;
}
.fontb {
  font-weight: bold;
}

.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.no-wrap-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.no-wrap-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.no-wrap-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.w-100 {
  width: 100%;
}
.curPoint {
  cursor: pointer;
}
.wPre-wrap {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  color: #6b6c6e;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

a:active {
  text-decoration: none;
}

body:before {
  width: 100%;
  height: 100%;
  content: " ";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #131322;
}

@media screen and (max-width: 1200px) {
  .PC {
    display: none;
  }
}
